* {
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    border-radius: 15px;
    background-color: rgb(1, 84, 160);
    padding: 5px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
}
#logo{
    border-radius: 10px;
    width: 15%;
}

body {
    background: url("newyork.jpg");
    background-attachment: fixed;
    background-size: auto;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#outer {
    background-color: rgb(255, 255, 255, 0.45);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 100px;
    width: 85%;
    text-align: center;
}

#inner {
    border-radius: 15px;
    margin: auto;
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}

#month {
    margin-bottom: 10px;
}
#quote{
    width:55%;
    border-radius: 15px;
    margin-top: 10px;
}
button{
    background-color:rgb(1, 84, 160);
    border: none;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}
.text{
    margin-bottom: 12px;
}